<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>
  
	<nav th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/cms/index">Fondou Admin</a>
	    </div>
	    <!-- Top Menu Items -->
	    <ul class="nav navbar-right top-nav">
	        <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 
	            	<b class="caret"></b></a>
	            <ul class="dropdown-menu">
	                <li>
	                    <a href="/cms/logout"><button id="submitButton" type="submit" class="btn btn-default"><i class="fa fa-fw fa-power-off"></i>Logout</button></a>
	                </li>
	            </ul>
	        </li>
	    </ul>
	    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
	    <div class="collapse navbar-collapse navbar-ex1-collapse">
	        <ul class="nav navbar-nav side-nav">
	        	<li>
	        		<a href="#" data-toggle="collapse" data-target="#generalNavigation"> General <i class="fa fa-fw fa-caret-down"></i></a>
	        		<ul id="generalNavigation" class="collapse">
	        			<li><a href="#" th:href="${'/cms/' + branch + '/address'}">  Address </a></li>
	        			<li><a href="#" th:href="${'/cms/' + branch + '/tradingPeriods'}">  Trading Periods </a></li>
	        			<li><a href="#">  Contact Details </a></li>  			
	        		</ul>
	        	</li>
	        </ul>
	    </div>
	</nav>
  
  </body>
  
</html>