<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" type="text/css" href="../../../static/cms/css/bootstrap.min.css" th:href="@{/cms/css/bootstrap.min.css}" />

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="../../../static/cms/css/sb-admin.css" th:href="@{/cms/css/sb-admin.css}" />
		
		<!-- Custom Fonts -->
		<link rel="stylesheet" type="text/css" href="../../../static/cms/font-awesome/css/font-awesome.min.css" th:href="@{/cms/font-awesome/css/font-awesome.min.css}" />
		
		<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
		
		<title>Fondou CMS - Address</title>
	</head>
	<body>
		<nav th:replace="cms/cms-base :: navigation">
		</nav>
		<div id="wrapper">	
	        <div id="page-wrapper">	
	            <div class="container-fluid">	
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                            Address
	                        </h1>
	                        <div class="row">
	                        	<div class="col-lg-6">
	                        		<form id="addressForm" th:object="${command}" method="post" th:action="@{/cms/{branch}/address(branch=${branch})}">
		                        		<strong class="text-danger" th:if="${#fields.hasErrors('all')}">
		                        			Oops, there are some errors :(
		                        		</strong>
		                        		<ul th:if="${#fields.hasErrors('all')}">
		                        			<li class="text-danger" th:each="error : ${#fields.errors('all')}" th:text="${error}"> Error Message </li>
		                        		</ul>
		                        		<div class="form-group" th:class="${#fields.hasErrors('address')} ? 'form-group has-error' : 'form-group'">
											<label class="control-label">
												Address
											</label>         
											<input class="form-control" maxlength="100" th:field="*{address}" />
											<small class="help-block">Max 100 Characters</small>
										</div>
										<div class="form-group" th:class="${#fields.hasErrors('mapLink')} ? 'form-group has-error' : 'form-group'">
											<label class="control-label">Google Map Link:</label>
											<p class="help-block">
												<ol>
													<li> Go to <a target="_blank" href="http://maps.google.com">Google maps</a>.</li>
													<li> Search for the location of the establishment.</li>
													<li> Click share on the left hand side panel.</li>
													<li> Check "Short URL" and copy the link.</li>
												</ol>
											</p>
											<input class="form-control"  maxlength="200" th:field="*{mapLink}"/>
											<small class="help-block">Max 200 Characters</small>
										</div>
										<p class="pull-right">
											<button onclick="document.getElementById('addressForm').reset()" type="submit" class="btn btn-warning">Reset</button>
											<input type="submit" class="btn btn-success" value="Save"/>
										</p>
	                        		</form>
	                        	</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>	
	    </div>	
		<script type="text/javascript" src="../../../static/cms/js/bootstrap.min.js" th:src="@{/cms/js/bootstrap.min.js}"></script>
	</body>
</html>